.chatroom-list-container{
  position: fixed;
  bottom: 0px;
  right: 0px;
}
.chatroom-list-container a.btn, .chatroom-list-container .panel-group, .chatroom-list-container .panel-group .panel{
  border-radius: 0px;
}

.chatroom-list-container .panel-group .panel{
  margin-top: 0px;
}
.chatroom-list-container .panel-title{
  font-size: 14px;
  color: grey;
}
.chatroom-list-container .list-group{
  font-size: 18px;
}
.chatroom-list-container .headicon{
  margin-right: 8px;
}
.chatroom-list-container .headicon > img{
  border-radius: 50%;
}
#chatroom-list-body{
  padding-top: 32px;
}
#chatroom-list{
  overflow-y: auto;
  padding: 0px;
}



#aChatroom-container{
  position: fixed;
  bottom: 0px;
  right: 0px;
  display: none;
  z-index: 8000;
}
#aChatroom-container .panel{
  margin-bottom: 0px;
}


.aChatroom-container .chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.aChatroom-container .chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.aChatroom-container .chat li.left .chat-body
{
    margin-left: 60px;
}

.aChatroom-container .chat li.right .chat-body
{
    margin-right: 60px;
}


.aChatroom-container .chat li .chat-body p
{
    margin: 0;
    /*color: #777777;*/
}

.aChatroom-container .panel .slidedown .glyphicon, .aChatroom-container .chat .glyphicon
{
    margin-right: 5px;
}

.aChatroom-container .panel-body
{
    overflow-y: auto;
    height: 400px;
}

.aChatroom-container .img-circle{
  width: 50px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}