.chatroom-container{
  position: fixed;
  bottom: 0;
  right: 0;
}
.chatroom-container a.btn, .chatroom-container .panel-group, .chatroom-container .panel-group .panel{
  border-radius: 0px;
}

.chatroom-container .panel-group .panel{
  margin-top: 0px;
}
.chatroom-container .panel-title{
  font-size: 14px;
  color: grey;
}
.chatroom-container .list-group{
  font-size: 18px;
}
.chatroom-container .headicon{
  margin-right: 8px;
}
.chatroom-container .headicon > img{
  border-radius: 50%;
}
#chatroom-body{
  padding-top: 32px;
}
#chatroom{
  overflow-y: auto;
  padding: 0px;
}



.aChat-container .chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.aChat-container .chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.aChat-container .chat li.left .chat-body
{
    margin-left: 60px;
}

.aChat-container .chat li.right .chat-body
{
    margin-right: 60px;
}


.aChat-container .chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.aChat-container .panel .slidedown .glyphicon, .aChat-container .chat .glyphicon
{
    margin-right: 5px;
}

.aChat-container .panel-body
{
    overflow-y: scroll;
    height: 250px;
}



::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}