<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>BA101G5</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/ba101_5</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<servlet>
		<servlet-name>Imageoutput1</servlet-name>
		<servlet-class>com.util.encoding.imageoutput1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Imageoutput1</servlet-name>
		<url-pattern>/Image/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Goods_RentServlet</servlet-name>
		<servlet-class>com.goods_rent.controller.Goods_rentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Goods_RentServlet</servlet-name>
		<url-pattern>/goods_rent/goods_rent.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PicnicServlet</servlet-name>
		<servlet-class>com.picnic.controller.PicnicServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PicnicServlet</servlet-name>
		<url-pattern>/picnic/picnic.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Orderde_DetailServlet</servlet-name>
		<servlet-class>com.orderde_detail.controller.Orderde_detailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Orderde_DetailServlet</servlet-name>
		<url-pattern>/orderde_detail/orderde_detail.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Goods_SellServlet</servlet-name>
		<servlet-class>com.goods_sell.controller.Goods_SellServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Goods_SellServlet</servlet-name>
		<url-pattern>/goods_sell/goods_sell.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AnnouncementServlet</servlet-name>
		<servlet-class>com.announcement.controller.AnnouncementServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AnnouncementServlet</servlet-name>
		<url-pattern>/backend/announcement/announcement.do</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>LogIn</servlet-name>
		<servlet-class>com.login.controller.LogInServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogIn</servlet-name>
		<url-pattern>/login.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogOut</servlet-name>
		<servlet-class>com.login.controller.LogOutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogOut</servlet-name>
		<url-pattern>/logout.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SewarchPicnic</servlet-name>
		<servlet-class>com.searchpicnic.controller.SearchPicnicServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SewarchPicnic</servlet-name>
		<url-pattern>/searchpicnic/searchpicnic.do</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Blocked_KeywordsServlet</servlet-name>
		<servlet-class>com.blocked_keywords.controller.Blocked_KeywordsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Blocked_KeywordsServlet</servlet-name>
		<url-pattern>/backend/blocked_keywords/blocked_keywords.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Chatroom_MembersServlet</servlet-name>
		<servlet-class>com.chatroom_members.controller.Chatroom_MembersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Chatroom_MembersServlet</servlet-name>
		<url-pattern>/chatroom_members/chatroom_members.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Chatroom_MessageServlet</servlet-name>
		<servlet-class>com.chatroom_message.controller.Chatroom_MessageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Chatroom_MessageServlet</servlet-name>
		<url-pattern>/chatroom_message/chatroom_message.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DBGifReader</servlet-name>
		<servlet-class>com.chatroom_message.controller.DBGifReader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DBGifReader</servlet-name>
		<url-pattern>/chatroom_message/DBGifReader.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Pboard_ArticleServlet0</servlet-name>
		<servlet-class>com.pboard_article.controller.Pboard_ArticleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Pboard_ArticleServlet0</servlet-name>
		<url-pattern>/backend/pboard_article/pboard_article.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Pboard_ArticleServlet1</servlet-name>
		<servlet-class>com.pboard_article.controller.Pboard_ArticleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Pboard_ArticleServlet1</servlet-name>
		<url-pattern>/frontend/pboard_article/pboard_article.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Pboard_ArticleServlet2</servlet-name>
		<servlet-class>com.pboard_article.controller.Pboard_ArticleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Pboard_ArticleServlet2</servlet-name>
		<url-pattern>/picnicpersionpage/pboard_article.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Pboard_ArticleServlet3</servlet-name>
		<servlet-class>com.pboard_article.controller.Pboard_ArticleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Pboard_ArticleServlet3</servlet-name>
		<url-pattern>/picnic/pboard_article.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Pboard_ArticleServlet4</servlet-name>
		<servlet-class>com.pboard_article.controller.Pboard_ArticleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Pboard_ArticleServlet4</servlet-name>
		<url-pattern>/pboard_article.do</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>General_MemberServlet</servlet-name>
		<servlet-class>com.general_member.controller.General_MemberServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>General_MemberServlet</servlet-name>
		<url-pattern>/general_member/General_Member.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DBGift</servlet-name>
		<servlet-class>com.general_member.controller.DBGift</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DBGift</servlet-name>
		<url-pattern>/general_member/DBGift.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ManufacturersServlet</servlet-name>
		<servlet-class>com.manufacturers.controller.ManufacturersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManufacturersServlet</servlet-name>
		<url-pattern>/manufacturers/Manufacturers.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DBGift1</servlet-name>
		<servlet-class>com.manufacturers.controller.DBGift1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DBGift1</servlet-name>
		<url-pattern>/manufacturers/DBGift1.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdvertisementServlet</servlet-name>
		<servlet-class>com.advertisement.controller.AdvertisementServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdvertisementServlet</servlet-name>
		<url-pattern>/advertisement/advertisement.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DBGift2</servlet-name>
		<servlet-class>com.advertisement.controller.DBGift2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DBGift2</servlet-name>
		<url-pattern>/advertisement/DBGift2.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Buy_recordServlet</servlet-name>
		<servlet-class>com.buy_record.controller.Buy_recordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Buy_recordServlet</servlet-name>
		<url-pattern>/buy_record/buy_record.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Contact_ListServlet</servlet-name>
		<servlet-class>com.contact_list.controller.Contact_ListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Contact_ListServlet</servlet-name>
		<url-pattern>/contact_list/contact_list.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DBGift4</servlet-name>
		<servlet-class>com.goods_sell.controller.DBGift4</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DBGift4</servlet-name>
		<url-pattern>/good_sell/DBGift4.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DBGift5</servlet-name>
		<servlet-class>com.goods_rent.controller.DBGift5</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DBGift5</servlet-name>
		<url-pattern>/goods_rent/DBGift5.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ChecklistServlet</servlet-name>
		<servlet-class>com.checklist.controller.ChecklistServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ChecklistServlet</servlet-name>
		<url-pattern>/checklist/checklist.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>addMemberEmail</servlet-name>
		<servlet-class>login.addMemberEmail</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addMemberEmail</servlet-name>
		<url-pattern>/addMemberEmail.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>logout</servlet-name>
		<servlet-class>login.logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/login/logout.do</url-pattern>
	</servlet-mapping>
	

	<servlet>
    <servlet-name>Test_Control</servlet-name>
    <servlet-class>com.testcontrol.control.Test_Control</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test_Control</servlet-name>
    <url-pattern>/adm2.do</url-pattern>
  </servlet-mapping>

<!-- <servlet> -->
<!--     <servlet-name>Man_mem</servlet-name> -->
<!--     <servlet-class>com.testcontrol.control.Man_mem_data</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>Man_mem</servlet-name> -->
<!--     <url-pattern>/man_men_data2.do</url-pattern> -->
<!--   </servlet-mapping> -->


<!-- <servlet> -->
<!--     <servlet-name>Admin</servlet-name> -->
<!--     <servlet-class>com.testcontrol.control.Test_Admin</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>Admin</servlet-name> -->
<!--     <url-pattern>/admini2.do</url-pattern> -->
<!--   </servlet-mapping> -->






	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>filters.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/personal/personal.jsp</url-pattern>
		<url-pattern>/picnic/maosecondui.jsp</url-pattern>
		<url-pattern>/buycart/moafirst.jsp</url-pattern>
		<url-pattern>/orderde_detail/orderde_detail.do</url-pattern>
		<url-pattern>/orderde_detail/orderde_detail.do?</url-pattern>
		<url-pattern>/picnic/picnic.do</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>



</web-app>

